.main-category {
  font-size: 1.55rem !important;
}

.badge-notification {
  position: relative;
  margin-right: 10px;
}

.badge-notification[data-badge]::after {
  content: attr(data-badge);
	position: absolute;
	top: 8px;
	right: 4px;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 8px;
	height: 8px;
  line-height: 22px;
  font-size: 12px;
  font-weight: 600;
	border-radius: 50%;
  background: rgb(121, 75, 196);
  color: #fff;
}


// TV SHOW ICONS / ACTIONS
.series-small-info {
  font-size: 13px !important;
  color: rgb(180, 180, 180);
  p > svg {
    margin: 0 0 0 5px;
    padding: 4px;
    font-size: 21px;
  }

  p > .fa-check {
    z-index: 10 !important;
  }

  p > svg.fa-check.clicked {
    color: rgb(23, 191, 99);

  }

  p > svg.fa-heart.clicked {
    color: rgb(224, 36, 94);
  }

  p > .fa-check:hover, p > .fa-heart:hover {
    border-radius: 50px;
  }

  p > .fa-check:hover {
    color: rgb(23, 191, 99);
    background-color: rgba(23, 191, 99, 0.2);
  }

  p > .fa-heart:hover {
    color: rgb(224, 36, 94);
    background-color: rgba(224, 36, 94, 0.2);
  }

  p > .fa-star, p span {
    color: rgb(255, 173, 31);
  }
  p span {
    position: relative;
    bottom: 3px;
  }
}

// Query Card (Pesquisa)
.query {
  background-color: rgb(21, 24, 28) !important;
  transition: all .1s ease-in-out;
  margin-right: -15px;
  margin-left: -15px;
}

.query:hover {
  background-color: lighten(rgb(21, 24, 28), 3%) !important;
}

// TV Show Wrapper, Box Wrapper
.show-wrapper .img-box {
  opacity: 1;
  display: inline-block;
  position: relative;
  transition: all .15s ease-in-out;
}

.box-wrapper {
  display: inline-block !important;
  position: relative !important;
  small {
    font-size: 16px !important;
    font-weight: bold;
  }
}

.img-box {
  img {
    border-radius: 5px !important;
  }
  ul {
    width: 100%;
    transition: all .15s ease-in-out;
    margin: 0;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    li {
      display: inline-block;
      font-size: 13px;
      color: rgb(217, 217, 217);
    }
  }
}

.img-box:after {
  border-radius: 5px !important;
  content: '';
  opacity: 0;
  background-color: rgba(0,0,0,0.8);
  border: 2px solid rgb(121, 75, 196);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.img-box:hover:after {
  opacity: 1;
}

.img-box:hover ul {
  opacity: 1;
}

// Sidebar
.sidebar {
  width: 250px;
  height: 100%;
  background: rgb(21, 24, 28);
  padding: 30px 0px !important;
  position: fixed;
  right: -330px;
  transition: all .50s ease-in-out;
  top: 0;
  hr {
    margin: 10px 20px 15px 20px !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
  ul { // Espaço antes do início do sidebar
     padding-inline-start: 0 !important;
     margin-block-start: 0 !important;
    a li {
      color: rgb(217, 217, 217) !important;
      display: block !important;
    }
    li a .fas, .sidebar ul li a .far {
      width: 25px !important;
    }
    h6 {
      color: rgb(121, 75, 196);
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin: 10px 20px 5px 20px !important;
    }
    li {
      padding: 10px 20px;
      list-style: none;
      .fa-users {
        margin-right: 0.8rem !important;
      }
    }
    li:hover {
      // background-color: lighten(rgb(21, 24, 28), 5%);
      // background-color: rgba(121, 75, 196, 0.2) !important;
      color: rgb(121, 75, 196) !important;
    }
  } // Fim UL
} // Fim Sidebar

.sidebar.active {
  right: 0;
}

.sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: rgb(217, 217, 217) !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.avatar {
  width: 65px;
  height: auto;
}

.close {
  position: absolute;
  left: 20px;
  transition: all .15s ease-in-out;
  cursor: pointer;
  svg:hover {
    color: rgb(121, 75, 196);
  }
}
