@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

$primary: rgb(121, 75, 196);
$link-hover: darken($primary, 10%);

* {
  font-family: 'PT Sans', sans-serif !important;
}

body {
  background-color: rgb(12, 12, 12) !important;
}

a {
  color: $primary !important;
  transition: all .1s ease-in-out !important;
}

a:hover {
  color: $link-hover !important;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, .primary {
  color: rgb(121, 75, 196) !important;
}

.btn-primary {
  background-color: $primary !important;
  border: none !important;
  color: #fff !important;
  transition: all .1s ease-in-out !important;
}

.btn-primary:hover {
  background-color: $link-hover !important;
  color: #fff !important;
}

.btn-outline-primary {
  border: 1px solid $primary !important;
  color: $primary !important;
}

.btn-outline-primary:hover {
  background-color: rgba(121, 75, 196, 0.1) !important;
}

.t-30 {
  color: rgba(255, 255, 255, .3);
}

.t-50 {
  color: rgba(255, 255, 255, .5);
}

.t-80 {
  color: rgba(255, 255, 255, .8);
}

.text-danger, .invalid-feedback, .btn-outline-danger, .alert {
  color: rgb(226, 36, 94) !important;
}

.btn-outline-danger {
  border: 1px solid rgb(226, 36, 94) !important;
}

.btn-outline-danger:hover {
  color: rgb(226, 36, 94) !important;
  background-color: rgba(226, 36, 94, 0.15) !important;
}

.alert-danger {
  color: rgb(226, 36, 94) !important;
  background-color: rgba(226, 36, 94, 0.15) !important;
  border: none !important;
}

.form-control-is-invalid {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23e2245e' viewBox='-2 -2 7 7'><path stroke='%23e2245e' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>") !important;
}

.form-control.is-valid {
  // background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%2317bf63' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23794bc4' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !important;
}

input.form-control, textarea.form-control {
  background-color: rgb(32, 35, 39) !important;
  border: 1px solid rgb(32, 35, 39) !important;
  box-shadow: 7px 7px 5px -8px rgba(18,18,18,1);
  color: rgb(110, 118, 125) !important;
  font-size: 1rem !important;
  // transition: border ease-in-out .15s !important;
  transition: border-color ease-in-out .15s !important;
}

.form-control:focus {
  border-color: rgb(121, 75, 196) !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(121, 75, 196, 0.2) !important;
}

.form-group > label {
  color: rgb(120, 128, 135);
  font-weight: bold !important;
}

input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2rem;
		opacity: 0;
		width: 1rem;
		z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	font-size: 0.7rem;
	font-weight: 400;
	padding-left: 2.4rem;
	padding-right: 0.75rem;
	position: relative;
}

.form-check-label {
  font-size: 1rem !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'Font Awesome\ 5 Free';
	font-style: normal;
	font-weight: normal;
  font-size: 0.8rem !important;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	border-radius: 2px;
	border: solid 1px;
	content: '';
	display: inline-block;
	height: 1.3rem;
	left: 0;
	line-height: 1.3rem;
	position: absolute;
	text-align: center;
	top: 2;
	width: 1.3rem;
  font-weight: 900;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	content: "\f00c";
}

input[type="checkbox"] + label:before {
	border-radius: 2px;
}

input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: rgb(110, 118, 125);
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background-color: rgb(32, 35, 39) !important;
  border: none !important;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background-color: rgb(121, 75, 196) !important;
	border-color: rgb(121, 75, 196);
	color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: rgb(121, 75, 196);
	box-shadow: 0 0 0 1px rgb(121, 75, 196);
}

.white-title, .t-info, .characters span, .episode-overview, .notifications, .sidebar-icon, #close {
  color: rgb(217, 217, 217) !important;
}

// Tooltip
.tooltip-inner {
  max-width: 200px !important;
  padding: 3px 8px !important;
  color: rgb(217, 217, 217) !important;
  text-align: center !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: .25rem !important;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px !important;
  content: "" !important;
  border-width: 0 5px 5px !important;
  border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}
