@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

$primary: rgb(121, 75, 196);
$link-hover: darken($primary, 10%);

* {
  font-family: 'PT Sans', sans-serif !important;
}

a {
  color: $primary !important;
  transition: all .1s ease-in-out !important;
}

a:hover {
  color: $link-hover !important;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(121, 75, 196) !important;
}

.btn-primary {
  background-color: $primary !important;
  border: none !important;
  color: #fff !important;
  transition: all .1s ease-in-out !important;
}

.btn-primary:hover {
  background-color: $link-hover !important;
}

.t-30 {
  color: rgba(255, 255, 255, .3);
}

.t-50 {
  color: rgba(255, 255, 255, .5);
}

.text-danger, .invalid-feedback, .btn-outline-danger, .alert {
  color: rgb(226, 36, 94) !important;
}

.btn-outline-danger {
  border: 1px solid rgb(226, 36, 94) !important;
}

.btn-outline-danger:hover {
  color: rgb(226, 36, 94) !important;
  background-color: rgba(226, 36, 94, 0.15) !important;
}

.alert-danger {
  color: rgb(226, 36, 94) !important;
  background-color: rgba(226, 36, 94, 0.15) !important;
  border: none !important;
}

.form-control-is-invalid {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23e2245e' viewBox='-2 -2 7 7'><path stroke='%23e2245e' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>") !important;
}
