$primary: rgb(121, 75, 196);
$white: rgb(217, 217, 217);

// Menu
#mainNav {
  .navbar-brand {
   color: #15a9ea;
   font-weight: 600;
  }
  .navbar-brand.active, .navbar-brand:active, .navbar-brand:focus, .navbar-brand:hover {
    color: rgb(72, 139, 245);
  }
  .navbar-nav .nav-item .nav-link {
   font-weight: 400;
   color: $white;

  }
  .navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover {
   color: #15a9ea;
  }
}

@media (min-width: 992px) {
   #mainNav {
     padding-top: 25px;
     padding-bottom: 25px;
     transition: padding-top .3s, padding-bottom .3s;
     border: none;
     background-color: transparent;
     .navbar-brand {
       font-size: 1.75em;
       transition: all .3s;
     }
     .navbar-nav .nav-item .nav-link {
       // padding: 1.1em 1em !important;
     }
   }
   #mainNav.navbar-shrink { // Navbar no scroll up
     padding-top: 3px;
     padding-bottom: 3px;
     background-color: #212529;
   }
   #mainNav.navbar-shrink .navbar-brand {
     font-size: 1.6em;
     padding: 12px 0;
   }
}

.search_box {
  width: 50%;
  position: relative !important;
}

.search_box input[type="text"]{
  padding: 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1) !important;
  box-shadow: none !important;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  outline: none;
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.6) !important;
}

.search_box input::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.submit-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  font-size: 18px;
  background-color: transparent !important;
  border: none !important;
  transition: all .15s ease-in-out;
  .fa-search:hover {
    color: $primary;
  }
  .fa-search {
    color: rgb(200, 200, 200);
  }
}

.submit-btn, .submit-btn > .fa-search:hover {
  transition: all .15s ease-in-out;
}
