$primary: rgb(121, 75, 196);

// Menu
#mainNav .navbar-brand {
 color: #15a9ea;
 font-weight: 600;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover {
 color: rgb(72, 139, 245);
}

#mainNav .navbar-nav .nav-item .nav-link {
 font-size:90%;
 font-weight:400;
 // padding:.75em 0;
 letter-spacing:1px;
 color:#fff;
 font-family:'Montserrat',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover {
 color: #15a9ea;
}

.user-menu {
  font-weight: 400;
  text-transform: none;
}

@media (min-width:992px) {
   #mainNav{
     padding-top: 25px;
     padding-bottom: 25px;
     transition: padding-top .3s,padding-bottom .3s;
     border: none;
     background-color: transparent;
   }

   #mainNav .navbar-brand {
     font-size: 1.75em;
     transition:all .3s;
   }

   #mainNav .navbar-nav .nav-item .nav-link {
     // padding: 1.1em 1em !important;
   }

   #mainNav.navbar-shrink {
     padding-top:0;
     padding-bottom:0;
     background-color:#212529;
   }

  #mainNav.navbar-shrink .navbar-brand {
    font-size:1.25em;
    padding:12px 0;
  }
}

.search-input, .genre-badge {
  color: white !important;
  font-family: 'PT Sans', sans-serif;
  border: none !important;
  font-weight: 400 !important;
}
.search_box{
  width: 50%;
  position: relative !important;
}

.search_box input[type="text"]{
  padding: 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1) !important;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  outline: none;
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.6) !important;
  // box-shadow: none !important;
}

.search_box input::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.submit-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  font-size: 18px;
  background-color: transparent !important;
  border: none !important;
  transition: all .15s ease-in-out;
}

.submit-btn, .submit-btn > .fa-search:hover {
  transition: all .15s ease-in-out;
}

.submit-btn .fa-search:hover {
  color: $primary;
}

.submit-btn .fa-search {
  color: rgb(200, 200, 200);
}

// Dropdown Menu
.dropdown-menu hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.dropdown-menu {
  background-color: rgb(21, 24, 28) !important;
}

.dropdown-menu:before {
  content: "";
  position: absolute;
  right: 120px;
  top: -10px;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(21, 24, 28);
}

.dropdown-menu .dp-user {
  color: rgb(217, 217, 217) !important;
}

.dp-user:hover {
  background-color: lighten(rgb(21, 24, 28), 3%) !important;
}
