$primary: rgb(121, 75, 196);
$link-hover: darken($primary, 10%);

// Showcase related
.showcase {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(12, 12, 12, 1) 98%);
  color: #fff;
  height: auto;
  position: relative;
  // background: url('gradient.svg');
}

.showcase:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// Picture Related
.user-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.cast-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

// Episode navigation
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent !important;
  border-bottom: 2px solid $primary;
  border-radius: 0 !important;
}

.show-guide-tab {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
}

.show-guide-tab:hover {
  color: $primary !important;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.show-title {
  font-size: 3rem !important;
  font-weight: 700;
}

.characters > .character, .q-overview {
  color: rgba(217, 217, 217, 0.6) !important;
}

.show-info {
  color: rgba(217, 217, 217, 0.9);
}

.show-info > span {
  color: rgba(217, 217, 217, 0.8) !important;
}

.overall-info > p {
  margin-bottom: 13px !important;
}

.episode-overview {
  font-size: .9rem;
}

.position-relative > svg {
  margin-top: 0.4rem !important;
}

.main-container {
  padding-top: 130px;
}

.home-container {
  margin-top: 150px !important;
}

.notifications, .sidebar-icon {
  font-size: 18px !important;
}

.primary-color {
  color: $primary;
  font-size: 12px;
  margin: auto 7px;
}

.series-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1.5rem;
	@media only screen and (min-width: 1600px) {
		grid-template-columns: repeat(6, 1fr);
	}
	@media only screen and (max-width: 1300px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media only screen and (max-width: 1100px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width: 400px) {
		grid-template-columns: 1fr;
	}
}
